# Simple Types

In this lesson, we will learn about Python's built-in data types with a focus on simple types. In Python, everything is an *object* with *type*.  Simple types, often called primitive types, are basic data types including numeric types, character types, and boolean types.  Simple types are in contrast to more complex types like strings, lists, dictionaries, and custom types.

## Introduction to Simple Types

### Floating Point Numbers

Floating point numbers are like real number from mathematics.  They support normal mathematical operations like addition, subtraction, multiplication, and division.

In [1]:
type(5.0)

float

In [2]:
5. * 3.

15.0

### Integers

Integers are countable numbers (e.g. -1, 0, 1, 2, 3).  Like floating point numbers, they support normal mathematical operations. Adding, subtracting, or multiplying two integers returns another integer. Division returns a floating point number by default unless you use the `//` operator.

In [3]:
type(5)

int

In [4]:
4 * 2

8

In [5]:
4/2 # Returns a floating point number

2.0

In [6]:
4//2  # Returns an integer

2

In [7]:
5.0 + 4 # Returns a floating point number

9.0

### Strings

In Python, anything between single quotes ('Something') or double quotes ("Something") is a string.  By default, Python represents strings as unicode.

In [8]:
type('Hello!')

str

Let's use the `ord` function to return the unicode code point for the letter `a`.

In [9]:
ord('a')

97

### Booleans

Booleans are True/False values.  They are useful in conditional statements which we will learn about in later lessons.

In [10]:
type(True)

bool

In [11]:
type(False)

bool

**Note**: Booleans are a type of integer where `True=1` and `False=0`.

In [12]:
True + 1

2

### Collection Types

We will cover collection types more in a later section. For now, here is a sample of some of Python's collection types.

In [13]:
type([1, 2, 3, 4])

list

5 is an integer.

In [14]:
type((1, 2, 3, 4))

tuple

In [15]:
type({1, 2, 3, 4})

set

In [16]:
type({1: 'one', 2: 'two', 3: 'three', 4: 'four'})

dict

## Assigned Reading 

* Read chapters 4 to 6 in *Learning Python*.
* Watch [Floating Point Numbers](https://youtu.be/PZRI1IfStY0)