# Assignment 1 - Programming Fundamentals

## 1. Introduce yourself (6 Points)

The student should get get full points as long as they provide an introduction and give their background with Python.

### 2.1  (3 points)

According to a [2017 Kaggle survey](https://www.kaggle.com/surveys/2017), 86.5% of data scientists said they used Python at work. By comparison, only 16.2% said they used Java and only 11.6% used C/C++.  Give three reasons why you think a data scientist would choose to use Python instead of Java or C/++.  

> The student should receive one point for each answer as long as they provide defensible answers and the answers are not redundant.   Typical answers include speed of development, ease of learning, and availability of training.

### 2.2 (3 points)

Give three reasons a data scientist might choose to use a language like C or Java instead of a language like Python or R. 

> The student should receive one point for each answer as long as they provide defensible answers and the answers are not redundant.  Typical answers might include producing optimized code, it is the standard for your organization, or they prefer static type safety.

### 2.3 (3 points)

What is the difference between a CPU and a GPU? What advantages does a CPU have over a GPU?  What advantages does a GPU have over a CPU? 

> One point for each response.The answers should be defensible.  
> 1. A CPU performs general purpose computing, whereas a GPU is optimized for graphics and matrix multiplication.
> 2. A CPU is general purpose and can run almost any code, whereas a GPU cannot.  
> 3. A GPU is faster for massively parallel code like graphics and matrix multiplication.

### 2.4 (3 points)

Most programming languages, including Python, Java, C, and R, are *Turing-Complete*.  Using your own words, explain in a few sentences what it means for a programming language to be Turing-complete.  

> The student should capture the idea that a Turing-complete language can, in theory, run any program any other Turing-complete language should run.

## 3. Programming Exercises (22 points)

Use [An Informal Introduction to Python](https://docs.python.org/3/tutorial/introduction.html) as a guide in completing the following exercises. 

> The student gets a point for correctly completing each of the problems.  Assign a half a point if they attempted the problem, but got the wrong answer.  Assign zero points if they did not attempt the problem.

### 3.1 Create a Jupyter notebook (2 points)

The programming exercises should be done in a single Jupyter notebook. Create a new Jupyter notebook and name it `DSC510 Assignment 1`. You will complete the rest of the programming exercieses in this notebook. 

> They get two free points for creating the Notebook.

### 3.2 Simple calculations (8 points)

Perform the following tasks using Python within Jupyter notebook. 

1\. Add two integers together

2\. Show how parenthesis changes the order of operations when using multiplication and addition together. 

3\.  Show how to square and cube numbers.  

4\. Assign numbers to variables and then perform mathematical operations (e.g., add, subtract, multiply) using the variables. 

5\. Set the variable `pi = 3.14159265` and then round it to two decimal places. 

6\.  See what happens when you try to divide a number by 0.  

7\.  Add an integer and a floating point number.  Is the result a floating point number or an integer? 

8\.  Compute the remainder of an odd number when divided by 2.  

> The following are examples of typical responses

1\.

In [10]:
1 + 3

4

2\.

In [11]:
(1 + 3) * 5

20

In [12]:
1 + 3 * 5

16

3\.

In [13]:
5**2

25

In [14]:
5**3

125

4\.

In [15]:
x = 2
y = 5

x * y

10

In [16]:
x + y

7

5\.

In [17]:
pi = 3.14159265
round(pi, 2)

3.14

6\.

In [18]:
5/0

ZeroDivisionError: division by zero

7\.

In [19]:
1.0 + 5

6.0

8\.

In [20]:
13 % 2

1

### 3.4 Working with strings (7 points)

1\. Enter `Hello World!` as a string

2\.  Assign your first name to the variable `first_name` and your last name to the variable `last_name`. 

3\.  Calculate the number of characters in your first name. 

4\.  Using string indexing, get the first letter of your first name. 

5\.  Using string indexing, get the last letter in your last name. 

6\. See what happens when you add `first_name` and `last_name.`

7\.  See what happens when you multiply your `first_name` by an integer between 1 and 5.

1\.

In [21]:
"Hello World!"

'Hello World!'

2\.

In [22]:
first_name = 'King'
last_name = 'Arthur'

3\.

In [23]:
len(first_name)

4

4\.

In [24]:
last_name[-1]

'r'

5\.

In [25]:
first_name[0]

'K'

6\.

In [26]:
first_name + last_name

'KingArthur'

7\.

In [27]:
first_name * 3

'KingKingKing'

### 3.5 Working with lists (5 points)

1\.  Create a list of numbers from 1 to 5 and assign it to the variable `L`.  

2\. Using list indexing, select the second item in the list.  

3\. Using slices, get a list containing only the 2nd, 3rd, and 4th numbers. 

4\. Append a `6` to the end of the list. 

5\. Using slices, replace the numbers 2 and 3 with 8 and 9.

1\.

In [28]:
L = [1, 2, 3, 4, 5]

2\.

In [29]:
L[1]

2

3\.

In [30]:
L[1:4]

[2, 3, 4]

4\.

In [31]:
L.append(6)

5\.

In [32]:
L[1:3] = [8, 9]
L

[1, 8, 9, 4, 5, 6]